
* {
  &, &:before, &:after {
    box-sizing: border-box;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

html {
  -webkit-tap-highlight-color: rgba($white-color, 0);
}

body {
  background-color: $base-background-color;
}

.container {
  max-width: $tablet-large-width;
  font-weight: $font-weight-light;
  font-size: 1.3rem;
  padding: {
    left: $small-spacing;
    right: $small-spacing;
  };
  margin: {
    left: auto;
    right: auto;
  };
}

%clearfix,
.clearfix {
  @include clearfix;
}
