$icons-family: 'dotx-icons';
$icons-path: '../fonts/';
$icon-home: "\e900";
$icon-comments: "\e902";
$icon-comment-o: "\e903";
$icon-comments-o: "\e904";
$icon-search: "\e906";
$icon-share: "\e909";
$icon-google-plus: "\e901";
$icon-facebook: "\e90a";
$icon-facebook-rounded: "\e90b";
$icon-twitter: "\e90c";
$icon-twitter-rounded: "\e90d";
$icon-feed: "\e90e";
$icon-github: "\e90f";
$icon-linkedin: "\e905";
$icon-gitlab: "\e907";

@font-face {
  font-family: $icons-family;
  src:url('#{$icons-path}#{$icons-family}.eot?vs69d0');
  src:url('#{$icons-path}#{$icons-family}.eot?vs69d0#iefix') format('embedded-opentype'),
      url('#{$icons-path}#{$icons-family}.ttf?vs69d0') format('truetype'),
      url('#{$icons-path}#{$icons-family}.woff?vs69d0') format('woff'),
      url('#{$icons-path}#{$icons-family}.svg?vs69d0#dotx-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: $icons-family !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before { content: $icon-home; }
.icon-comments:before { content: $icon-comments; }
.icon-comment-o:before { content: $icon-comment-o; }
.icon-comments-o:before { content: $icon-comments-o; }
.icon-search:before { content: $icon-search; }
.icon-share:before { content: $icon-share; }
.icon-google-plus:before { content: $icon-google-plus; }
.icon-facebook:before { content: $icon-facebook; }
.icon-facebook-rounded:before { content: $icon-facebook-rounded; }
.icon-twitter:before { content: $icon-twitter; }
.icon-twitter-rounded:before { content: $icon-twitter-rounded; }
.icon-feed:before { content: $icon-feed; }
.icon-gitlab:before { content: $icon-github; }
.icon-linkedin:before { content: $icon-linkedin; }

