body.home-intro {
  width: 100%;

  .intro {
    display: flex;
    height: 100%;
  }
}

.intro {
  $firstgrad: #F9FAFF;
  vertical-align: middle;
  position: relative;
  padding: 0 $base-spacing;
  text-align: center;
  color: $lighter-gray-color;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, $firstgrad),color-stop(75%, $primary-color));
  overflow: hidden;
}

.intro-in {
  z-index: 2;
  position: relative;
  text-align: center;
  display: inline-block;
  max-width: $desktop-width;
  margin: auto;
  padding: 4em 2em;

  @include media($min-tablet) {
    padding: 6em 0;
  }

  @include media($min-tablet-large) {
    padding: 9em 0;
  }
}

.intro-title,
.post-header .post-title {
  font-size: 4.6rem;
  margin: 0 0 0px;
  color: $white-color;
  font-weight: $font-weight-light;

  @include media($min-tablet) {
    font-size: 3rem;
  }

  @include media($min-tablet-large) {
    font-size: 3.6rem;
  }

  @include media($min-desktop-large) {
    font-size: 4rem;
  }
}

.intro-subtitle {
  margin-bottom: $small-spacing;
  font-size: 1.9em;
  font-weight: $font-weight-normal;
  font-style: italic;

  @include media($min-tablet-large) {
    font-size: 2.0rem;
  }
}
