
.post-header {
  margin-bottom: $base-spacing;
  padding: 5em 2em;
}

.post-title,
.post-meta {
  font-weight: $font-weight-light;

  a {
    text-decoration: none;
    color: $base-font-color;

    &:after {
      content: '➝';
      display: inline-block;
      left: -5px;
      opacity: 0;
      position: relative;
      @include transition(left .15s ease-in-out, opacity .15s ease-in-out);
      top: 0;
    }

    &:hover,
    &:focus,
    &:active {
      color: $primary-color;

      &:after {
        opacity: 1;
        left: 10px;
      }
    }
  }
}

.post-meta {
  font-style: italic;
}

.post-item {
  padding-bottom: $base-spacing;
  margin-bottom: $base-spacing;
  border-bottom: 1px solid lighten($base-border-color, 5%);

  .post-title {
    margin-bottom: 10px;
  }

  .post-meta {
    opacity: .7;
    font-size: 2.8rem;
  }

  &:last-child {
    border: none;
  }
}
