<footer class="site-footer">
  <div class="container">
    {% include social.html %}
    <p>
    <small>&copy;{{ site.time | date: '%Y' }} All rights reserved. Special thanks to <a href="https://codethink.co.uk" target="_blank">Codethink</a> Website proudly built by Jekyll and hosted by <a href=https://gitlab.com" target="_blank">Gitlab</small>
    </p>
  </div>
</footer>
