---
layout: blank
body_class: home-intro
---

<section class="intro">
  {% include navbar.html %}

  <div class="intro-in">

    <h1 class="intro-title"><img src="assets/photos/logo.png"</h1>
    <h2 class="intro-subtitle">The future of linux runtimes is here</h2>

    <nav class="intro-actions">
      <a href="{{ '/about' | prepend: site.baseurl }}" class="button button-ghost" role="button">Find out more</a>
      <a href="https://gitlab.com/freedesktop-sdk/freedesktop-sdk/" class="button button-ghost" role="button">Project page</a>
    </nav>

  </div>

</section>
